<label for="">Server name</label>

<!--One way data binding (de view a controller)-->
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)"> -->
<input type="text" class="form-control" (input)="onUpdateServerName($event)">

<!--Two way data binding (from view to controller & viceversa)-->
<input type="text" class="form-control" [(ngModel)]="serverName">
<!-- <p>{{ serverName }}</p> -->
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()" > <!-- [] means Property Binding. Only disable if its false. () means Event Binding. -->
  Add server
</button>

<!-- <p>{{ allowNewServer }}</p> String interpolation. -->
<!-- <p [innerText]="allowNewServer"></p> Property binding, -->

<!-- <p>{{ serverCreationStatus }}</p> -->

<!-- Directiva ngIf -->
<!-- <p *ngIf="serverCreated; else noServer">Server was created, server name is {{ serverName }}</p>
<ng-template #noServer>
  <p>No server was created</p>
</ng-template> -->
<p *ngIf="serverCreated">Server was created, server name is {{ serverName }}</p>


<!-- Directiva ngFor -->
<app-server *ngFor="let server of servers"></app-server>
